// declare variables

// colours used
$colour-dark: #5A5A66; 
$colour-dark2: #2A2B2E;
$colour-blue: #96BBBB;
$colour-red: #D00000;
$colour-green: #069E2D;
$colour-light-orange: #F06543;
$colour-white: #F2E3BC;

// -------------------------
// geometric properties
$button-radius: 50%;
$calc-radius: 10%;

